<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="android.dengmin.bluetoothcommunication">

    <!-- 由于蓝牙设备是系统设备，所以需要有相应的权限支持 -->
    <!-- 程序中使用了蓝牙技术需要添加的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <!-- 当本程序需要和其他程序绑定时添加的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>